/* stlyes for the form*/
form[name="newLicenseForm"]{
    border: 2px solid #00FFFF;
    width: 29%;
    padding: 20px;
    background-color: #e7ece7;
    position: relative;
    top: 76px;
}
/*Styles for the lable*/
label{
    display: block;
    padding: 10px 0;
}
input{
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
 /*providing styles for the heading of the page*/
h1{
   text-align: center;
}
/*styles for the links in nav*/
 ul{
    display: inline;
}

li{
   display: inline-block;
   margin: 27px 4px;
}
li a{
    text-align: center;
    padding: 4px 15px;
}
/*styles for buttons*/
button{
    border: 2px solid #6f6f6f;
    border-radius: 5px;
    padding: 7px 12px;
    margin: 10px;
}
/*applying styles to submit button*/
button[type="submit"]{
    background-color: #067bf2;
}

button[type="submit"]:hover{
   border: 3px solid #d593ea;
   background: #f9c603
}
/*giving styles to the rest button*/
button[type="reset"]{
    background: #f71814;
}
button[type="reset"]:hover{
   border: 3px solid #d593ea;
   background: #64fd50
}
/*putting the gender in one line*/
label[for="male"],
label[for="female"],
label[for="seniorCitizen"]{
    display: inline;
}
#section1{
   position: relative;
   top: 45px;
}
/* for the navigation bar*/
#main-nav{
   position: absolute;
   width: 100%;
   background: #dee696;
   height: 67px;
   top: 7px;
}
/*fixing the position of the main heading*/
#mainheading{
    position: fixed;
    top: 0;
    left: 550px;
    background: #fff;
}
/*style for footer by using position css property*/
#mainfooter{
    position: fixed;
    top: 881px;
    background: #f5fb91;
    width:100%;
    height:20px;
}
/*style for the footer navigation*/
#navigation{
  position: absolute;
  top: -29px;
}
/*styles for must read p*/
div>p{
    color: #f95d53;
}
/* style for second priority p*/
div~p{
    color: #01850a;
}
/* color for normal p*/
div+p{
    color: #516f69;
}