.@{my-page}{
    text-align: center;
    width: 100%;
    height: 80px;
    font-size: 30px;
}
.@{my-section}{
    border: solid 3px @light-purple;
    height: 234px;
    width: 276px;
    padding: 15px;
    background: @light-orange;
    margin-left: 39%;
}
// for allthe divvs with class GetingStarted
.@{my-div}{
    display: block;
    padding: 5px;
}