<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Login Page</title>
            <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <link href="../Stylesheets/styles/styles.css" rel="stylesheet"/>
        </head>
        <body>
            <header class="header">Main Page</header>
            <nav class="nav">
                <ul>
                    <li>
                        <a href="Name.html">Name</a>
                    </li>
                    <li>
                        <a href="phoneno.html">Phone Number</a>
                    </li>
                    <li>
                        <a href="email.html">My emailId</a>
                    </li>
                    <li>
                        <a href="hobbies.html">Hobbies</a>
                    </li>
                </ul>
            </nav>
            <section class="container">
                <article>
                    <!--creating a login form-->
                    <form name="GetingStarted">
                        <!--div for UserName input-->
                        <div>
                            <label for="username">UserName</label>
                            <input type="text" id="username" name="username" class="UserInput"/>
                        </div>
                        <!--div for password-->
                        <div>
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" class="UserInput"/>
                        </div>
                        <div>
                            <input type="checkbox" id="checkbox" name="checkbox" class="UserInput"/>
                            <label for="checkbox">Remember my Password</label>
                        </div>
                        <!--Login Button-->
                        <button type="submit" id="submit">Login</button>
                        <!--SignUp -->
                        <button type="submit" id="signup">SignUp</button>
                    </form>
                </article>
            </section>
            <footer>
                <nav>
                    <ul>
                        <li>
                            <a href="Name.html">Name</a>
                        </li>
                        <li>
                            <a href="phoneno.html">Phone Number</a>
                        </li>
                        <li>
                            <a href="email.html">My emailId</a>
                        </li>
                        <li>
                            <a href="hobbies.html">Hobbies</a>
                        </li>
                    </ul>
                </nav>
            </footer>

        </body>
    </html>